/* Estilos para el footer */
footer {
    background-color: #343a40;
    color: #ffffff; 
    margin-top: 10rem;
    padding: 10px; 
    background-color: #f1f1f1;
    text-align: center; 
  }
  
  footer a {
    color: #ffffff;
  }
  
  footer a:hover {
    color: #dcdcdc; 
  }
