<footer class="bg-dark text-white pt-5 pb-4">
  <div class="container text-center text-md-left">
    <div class="row text-center text-md-left">
      <!-- Section: Address -->
      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
        <h5 class="text-uppercase mb-4 font-weight-bold">Clínica Salud</h5>
        <p>
          Calle Falsa 123, Ciudad, País<br>
          Teléfono: +123 456 789<br>
        </p>
      </div>

      <!-- Section: Links -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
        <h5 class="text-uppercase mb-4 font-weight-bold">Enlaces Rápidos</h5>
        <p>
          <a href="#" class="text-white" style="text-decoration: none;">Inicio</a>
        </p>
        <p>
          <a href="#" class="text-white" style="text-decoration: none;">Servicios</a>
        </p>
        <p>
          <a href="#" class="text-white" style="text-decoration: none;">Sobre Nosotros</a>
        </p>
        <p>
          <a href="#" class="text-white" style="text-decoration: none;">Contacto</a>
        </p>
      </div>

      <!-- Section: Opening hours -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
        <h5 class="text-uppercase mb-4 font-weight-bold">Horario de Atención</h5>
        <p>
          Lunes - Viernes: 8:00 AM - 6:00 PM<br>
          Sábado: 9:00 AM - 2:00 PM<br>
          Domingo: Cerrado
        </p>
      </div>

      <!-- Section: Social media -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
        <h5 class="text-uppercase mb-4 font-weight-bold">Síguenos</h5>
        <div>
          <a href="#" class="text-white mr-4"><i class="fab fa-facebook-f"></i></a>
          <a href="#" class="text-white mr-4"><i class="fab fa-twitter"></i></a>
          <a href="#" class="text-white mr-4"><i class="fab fa-instagram"></i></a>
          <a href="#" class="text-white mr-4"><i class="fab fa-linkedin"></i></a>
        </div>
      </div>
    </div>

    <hr class="mb-4">
    
    <div class="row align-items-center">
      <div class="col-md-7 col-lg-8">
        <p>© 2024 Todos los derechos reservados por Clínica Salud</p>
      </div>

      <div class="col-md-5 col-lg-4">
        <p>Diseñado por <a href="#" class="text-white" style="text-decoration: none;"><strong>Clinica Salud</strong></a></p>
      </div>
    </div>
  </div>
</footer>