<div class="container">
    <header>
    </header>

    <main class="perfil fade-in">
        <h1 style="text-align: center;">¡Bienvenido {{ nombreMedico}} ! ¿Qué necesitás hoy?</h1>
        <div class="main-buttons">
            <!-- <button (click)="toggleDisponibilidadForm()">Disponibilidad</button> -->
            <button (click)="mostrarHistorialTurnosMed()">Historial</button>
            <button (click)="toggleTurnosList()" [disabled]="isLoading">
                <ng-container *ngIf="!isLoading; else loading">
                  Turnos Pacientes
                </ng-container>
                <ng-template #loading>
                  <span class="spinner"></span> Cargando...
                </ng-template>
              </button>
        </div>

        <!-- Formulario de disponibilidad -->
       <!--  <form *ngIf="showDisponibilidadForm" (ngSubmit)="enviarDisponibilidad()">
            <label for="desde">Hora Desde:</label>
            <input type="time" id="desde" [(ngModel)]="disponibilidad.desde" name="desde" required>

            <label for="hasta">Hora Hasta:</label>
            <input type="time" id="hasta" [(ngModel)]="disponibilidad.hasta" name="hasta" required>

            <label for="dias">Días:</label>
            <div class="dias-container">
                <button type="button" 
                        *ngFor="let dia of dias"
                        (click)="toggleDia(dia.value)"
                        [ngClass]="{'selected': disponibilidad.dias.includes(dia.value)}">
                  {{ dia.nombre }}
                </button>
              </div>

            <button type="submit" id="dispo">Enviar Disponibilidad</button>
        </form> -->

        <!-- Lista de turnos -->
        <div class="row" *ngIf="showTurnosList">
            <h2 class="col-6">Lista de Turnos</h2>
            <button (click)="generarCSV()">Exportar a CSV</button>
            <div class="col-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>DNI</th>
                            <th>Fecha</th>
                            <th>Hora</th>
                            <th>Estado</th>
                            <th>Pocesar Turno</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let turno of turnos">
                            <td>{{ turno.Paciente }}</td>
                            <td>{{ turno.DNI_paciente }}</td>
                            <td>{{ turno.dia }}</td>
                            <td>{{ turno.hora }}</td>
                            <td>{{ turno.estado }}</td>
                            <td>
                                <label class="switch">
                                    <button (click)="openModal(turno)">Seleccionar</button>
                                    <span class="slider"></span>
                                </label>
                            </td>
                            <td><i class="fa fa-pencil" aria-hidden="true"></i></td>
                        </tr>
                    </tbody>
                    
                    <!-- Modal -->
                    <div class="modal" *ngIf="isModalOpen">
                        <div class="modal-content">
                            <h2>Seleccione una opción</h2>
                            
                            <form (ngSubmit)="enviarOpciones()">
                                <label>
                                    <input type="radio" name="opcion" [(ngModel)]="opcionSeleccionada" value="Aceptado" required>
                                    Aceptar
                                </label>
                                <label>
                                    <input type="radio" name="opcion" [(ngModel)]="opcionSeleccionada" value="Rechazado">
                                    Rechazar
                                </label>
                                <label>
                                    <input type="radio" name="opcion" [(ngModel)]="opcionSeleccionada" value="Finalizado">
                                    Finalizar
                                </label>
                                
                                <div class="modal-buttons">
                                    <button type="submit">Enviar</button>
                                    <button type="button" (click)="closeModal()">Cancelar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </table>
            </div>
        </div>

        <div *ngIf="mostrarHistorial">
            <h2>Historial de Turnos</h2>
            <h5>Seleccione un turno para ver las observaciones</h5>
            <table class="historial-table">
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Hora</th>
                        <th>Estado</th>
                        <th>Observaciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let turno of historialTurnos"
                        [ngClass]="{
                            'estado-cancelado': turno.estado.trim().toLowerCase() === 'cancelado',
                            'estado-activo': turno.estado.trim().toLowerCase() === 'confirmado'
                        }">
                        <td (click)="mostrarObservaciones(turno)" class="clickable">{{ turno.dia }}</td>
                        <td (click)="mostrarObservaciones(turno)" class="clickable">{{ turno.hora }}</td>
                        <td (click)="mostrarObservaciones(turno)" class="clickable">{{ turno.estado }}</td>
                        <td (click)="mostrarObservaciones(turno)" class="clickable">{{ turno.observaciones || 'Sin observaciones' }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="modal" tabindex="-1" role="dialog" [ngClass]="{ 'show': mostrarModal }" style="display: {{ mostrarModal ? 'block' : 'none' }};">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Agregar Observaciones</h5>
                  
                </div>
                <div class="modal-body">
                  <textarea [(ngModel)]="observaciones" rows="4" cols="50" placeholder="Escribe tus observaciones aquí..."></textarea>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary" (click)="guardarObservaciones(turno)">Guardar</button>
                  <button type="button" class="btn btn-secondary" (click)="cerrarModal()">Cerrar</button>
                </div>
              </div>
            </div>
          </div>
    </main>
</div>
