<div class="container">
    <header>
      <!-- <div class="logo">
        <img src="logo.png" alt="prueba">
      </div> -->
    </header>
  
    <main>
      <h1 style="text-align: center;">
        Bienvenido a la sección de administración {{ datoU.nombre }}
      </h1>

      <h1 style="text-align: center;">Seleccione una opción para continuar</h1>
      <div class="main-buttons" @fadeInOut>
        <button (click)="setActive('habilitacion')" @fadeInOut>Habilitación</button >
        <button (click)="setActive('turnos')"@fadeInOut>Turnos</button>
        <button (click)="setActive('disponibilidad')"@fadeInOut>Disponibilidad</button>
        <button (click)="setActive('informes')"@fadeInOut>Informes</button>
        <button (click)="setActive('administrar')"@fadeInOut>Administrar</button>
      </div>
  
      <!-- Habilitacion -->
      <div class="table-responsive" *ngIf="activeSection === 'habilitacion'" @fadeInOut>
        <input type="text" [(ngModel)]="filtro" placeholder="Buscar por especialidad">
        <table class="table table-striped" id="medicosTable">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Apellido</th>
              <th>DNI</th>
              <th>Matrícula</th>
              <th>Especialidad</th>
              <th>Acción</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let medico of medicos | medicos: filtro">
              <td>{{ medico.nombre }}</td>
              <td>{{ medico.apellido }}</td>
              <td>{{ medico.dni }}</td>
              <td>{{ medico.matricula }}</td>
              <td>{{ medico.especialidad }}</td>
              <td>
                <button class="btn-success" *ngIf="medico.habilitacion == true" (click)="accion(medico)"@fadeInOut>Habilitado</button>
                <button class="btn-danger" *ngIf="medico.habilitacion == false" (click)="accion(medico)"@fadeInOut>No habilitado</button>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="main-buttons">
          <button (click)="generarPDF()"@fadeInOut>Imprimir Lista</button>
        </div>
      </div>

     <!-- SECCIÓN DISPONIBILIDAD -->
    <div *ngIf="activeSection === 'disponibilidad'" @fadeInOut>

      <!-- Tabla de selección de médicos -->
      <div *ngIf="!medicoSeleccionado" class="table-responsive" @fadeInOut>
        <h3 style="text-align:center;">Seleccionar médico</h3>
        <input type="text" [(ngModel)]="filtro" placeholder="Buscar por especialidad">

        <table class="table table-striped" id="disponibilidadTable">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Apellido</th>
              <th>DNI</th>
              <th>Matrícula</th>
              <th>Especialidad</th>
              <th>Acción</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let medico of medicos | medicos: filtro">
              <td>{{ medico.nombre }}</td>
              <td>{{ medico.apellido }}</td>
              <td>{{ medico.dni }}</td>
              <td>{{ medico.matricula }}</td>
              <td>{{ medico.especialidad }}</td>
              <td>
                <button class="btn-primary" id="ver-dispo" (click)="seleccionarMedico(medico)" @fadeInOut>
                  Ver Disponibilidad
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- Tu form original, sin tocar -->
      <form *ngIf="medicoSeleccionado" (ngSubmit)="enviarDisponibilidad()" @fadeInOut>
        <p><strong>Médico:</strong> {{ medicoSeleccionado?.nombre }} {{ medicoSeleccionado?.apellido }}</p>

        <label for="desde">Hora Desde:</label>
        <input type="time" id="desde" [(ngModel)]="disponibilidad.desde" name="desde" required>

        <label for="hasta">Hora Hasta:</label>
        <input type="time" id="hasta" [(ngModel)]="disponibilidad.hasta" name="hasta" required>

        <label for="dias">Días:</label>
        <div class="dias-container">
          <button type="button"
                  *ngFor="let dia of dias"
                  (click)="toggleDia(dia.value)"
                  [ngClass]="{'selected': disponibilidad.dias.includes(dia.value)}"
                  @fadeInOut>
            {{ dia.nombre }}
          </button>
        </div>

        <div class="main-buttons">
          <button type="submit" id="dispo" @fadeInOut>Enviar Disponibilidad</button>
          <button type="button" id="dispo" (click)="cancelarSeleccionMedico()" @fadeInOut>Volver</button>
        </div>
      </form>

    </div>
      
      <!-- Placeholder para otras secciones -->
      <div *ngIf="activeSection === 'administrar'" class="admin-section" @fadeInOut>
        <h3>Administrar usuarios</h3>

        <form #adminForm="ngForm" (ngSubmit)="guardarUsuario()">
          <!-- Tipo de usuario -->
          <label for="tipoUsuario">Tipo de usuario:</label>
          <select id="tipoUsuario" name="tipoUsuario" [(ngModel)]="nuevoUsuario.tipoUsuario" required>
            <option value="">Seleccione una opción</option>
            <option value="medico">Médico</option>
            <option value="administrativo">Administrativo</option>
            <option value="tecnico">Técnico</option>
          </select>

          <hr />

          <!-- Campos básicos -->
          <div class="form-group">
            <label>Nombre:</label>
            <input type="text" name="nombre" [(ngModel)]="nuevoUsuario.nombre" required />
          </div>

          <div class="form-group">
            <label>Apellido:</label>
            <input type="text" name="apellido" [(ngModel)]="nuevoUsuario.apellido" required />
          </div>

          <div class="form-group">
            <label>Email:</label>
            <input type="email" name="email" [(ngModel)]="nuevoUsuario.email" required />
          </div>

          <div class="form-group">
            <label>DNI:</label>
            <input type="text" name="dni" [(ngModel)]="nuevoUsuario.dni" required />
          </div>

          <div class="form-group">
            <label>Teléfono:</label>
            <input type="text" name="telefono" [(ngModel)]="nuevoUsuario.telefono" required />
          </div>

          <!-- Solo para médico o técnico -->
          <div *ngIf="esMedicoOTecnico()" class="form-group">
            <label>Matrícula:</label>
            <input type="text" name="matricula" [(ngModel)]="nuevoUsuario.matricula" />
          </div>

          <div *ngIf="esMedicoOTecnico()" class="form-group">
            <label>Especialidad:</label>
            <input type="text" name="especialidad" [(ngModel)]="nuevoUsuario.especialidad" />
          </div>

          <div class="form-group">
            <label>Contraseña:</label>
            <input type="text" name="telefono" [(ngModel)]="nuevoUsuario.contrasenia" required />
          </div>

          <button class="botonGuardar" type="submit"@fadeInOut>Guardar</button>
        </form>
      </div>


      <!-- SECCIÓN TURNOS -->
      <div *ngIf="activeSection === 'turnos'" @fadeInOut>
        <h3 style="text-align: center;">Turnos del día {{ fechaActual | date:'dd/MM/yyyy' }}</h3>

        <div class="turnos-container">
          <div class="filters">
            <button (click)="obtenerTurnosDelDia()" class="botonActualizar">🔄 Actualizar</button>
          </div>

          <table class="table table-striped" *ngIf="turnos && turnos.length > 0" @fadeInOut>
            <thead>
              <tr>
                <th>Hora</th>
                <th>Médico</th>
                <th>Especialidad</th>
                <th>Paciente</th>
                <th>Estado</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let turno of turnos" @fadeInOut>
                <td>{{ turno.hora }}</td>
                <td>{{ turno.nombreMedico }} {{ turno.apellidoMedico }}</td>
                <td>{{ turno.especialidad }}</td>
                <td>{{ turno.nombrePaciente }} {{ turno.apellidoPaciente }}</td>
                <td>
                  <span [ngClass]="{
                    'estado-pendiente': turno.estado === 'PENDIENTE',
                    'estado-confirmado': turno.estado === 'CONFIRMADO',
                    'estado-cancelado': turno.estado === 'CANCELADO'
                  }">
                    {{ turno.estado }}
                  </span>
                </td>
              </tr>
            </tbody>
          </table>

          <div *ngIf="turnos && turnos.length === 0" class="no-turnos" @fadeInOut>
            <p>No hay turnos registrados para hoy.</p>
          </div>
        </div>
      </div>


      <div *ngIf="activeSection === 'informes'">
      <h3 style="text-align: center;">Sección de Informes</h3>
      <p style="text-align: center;">Seleccione el tipo de informe que desea generar:</p>

      <div class="main-buttons">
        <button (click)="abrirModal('turnosPorFecha')"@fadeInOut>Turnos médicos por fecha</button>
        <button (click)="abrirModal('turnosCancelados')"@fadeInOut>Turnos cancelados</button>
        <button (click)="abrirModal('medicosPorDia')"@fadeInOut>Médicos por día</button>
      </div>

      <!-- Modal: Turnos por fecha -->
      <div class="modal" *ngIf="modalActivo === 'turnosPorFecha'" @fadeInOut>
        <div class="modal-content">
          <h3>Informe: Turnos médicos por fecha</h3>
          <label>Fecha desde:</label>
          <input type="date" [(ngModel)]="filtros.fechaDesde">
          <label>Fecha hasta:</label>
          <input type="date" [(ngModel)]="filtros.fechaHasta">
          <div class="modal-actions">
            <button (click)="generarInforme('turnosPorFecha')"@fadeInOut>Generar</button>
            <button (click)="cerrarModal()" @fadeInOut>Cancelar</button>
          </div>
        </div>
      </div>
      <!-- Modal: Médicos por día -->
      <div class="modal" *ngIf="modalActivo === 'medicosPorDia'" @fadeInOut>
        <div class="modal-content">
          <h3>Informe: Médicos por día</h3>
          <label>Día de la semana:</label>
          <select [(ngModel)]="filtros">
            <option value="">Seleccione un día</option>
            <option *ngFor="let d of dias" [value]="d.value">{{ d.nombre }}</option>
          </select>
          <div class="modal-actions">
            <button (click)="generarInforme('medicosPorDia')"@fadeInOut>Generar</button>
            <button (click)="cerrarModal()"@fadeInOut>Cancelar</button>
          </div>
        </div>
      </div>

      <!-- Modal: Turnos cancelados-->
      <div class="modal" *ngIf="modalActivo === 'turnosCancelados'" @fadeInOut>
        <div class="modal-content">
          <h3>Informe: Turnos médicos por fecha</h3>
          <label>Fecha desde:</label>
          <input type="date" [(ngModel)]="filtros.fechaDesde">
          <label>Fecha hasta:</label>
          <input type="date" [(ngModel)]="filtros.fechaHasta">
          <div class="modal-actions">
            <button (click)="generarInforme('turnosCancelados')"@fadeInOut>Generar</button>
            <button (click)="cerrarModal()" @fadeInOut>Cancelar</button>
          </div>
        </div>
      </div>


      <!-- Resultado -->
      <div class="informe-result" *ngIf="resultadoInforme">
        <h4>Resultado del informe:</h4>
        <pre>{{ resultadoInforme | json }}</pre>
      </div>
    </div>


    </main>
  </div>