.container {
    max-width: 1200px;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
}

.logo img {
    width: 150px;
}

.user-info {
    text-align: right;
}

.user-info .user-name {
    font-weight: bold;
    display: block;
}

.header-links a {
    margin: 0 10px;
    text-decoration: none;
    color: #4CAF50;
}

nav {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

nav ul li {
    margin-bottom: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
    background-color: #fff;
}

.main-buttons {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.main-buttons input {
    padding: 10px 20px;
    border: none;
    background-color: #69c99c;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
}

.info-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    text-align: center;
    border-radius: 5px;
    flex: 1;
    min-width: 150px;
}

.card span {
    display: block;
    font-weight: bold;
}

/* Estilos para los botones */
.btn-success, .btn-danger {
    padding: 10px 20px; /* Ajusta el padding según tus preferencias */
    border: none;
    cursor: pointer;
    border-radius: 5px;
    padding: 1px 10px; /* Ajusta el padding para cambiar el tamaño */
    width: 150px; /* Ancho fijo para ambos botones */
    display: flex; /* Utiliza flexbox para alinear elementos */
    justify-content: center; /* Centra horizontalmente el contenido */
    align-items: center; /* Centra verticalmente el contenido */
    text-align: center; /* Centra el texto dentro del botón */
    position: relative; /* Añade posición relativa para alinear el texto */
  }

.btn-danger .status-text {
  position: absolute; /* Posición absoluta para alinear el texto */
  left: 50%; /* Alinea el texto al centro horizontal */
  transform: translateX(-50%); /* Centra el texto horizontalmente */
  bottom: -20px; /* Ajusta el margen inferior según necesites */
}
.btn-success {
    background-color: green;
    color: white;
  }
  
  .btn-danger {
    background-color: red;
    color: white;
  }

  .btn-glow {
    animation: glow 1s infinite;
  }
  
  @keyframes glow {
    0% {
      box-shadow: 0 0 5px green;
    }
    50% {
      box-shadow: 0 0 20px green;
    }
    100% {
      box-shadow: 0 0 5px green;
    }
  }

  .table-responsive {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  
  .main-buttons {
    display: flex;
    justify-content: space-around;  /*Distribuye los botones de manera uniforme */
    margin: 20px 0;
}

.main-buttons button:hover {
    background-color: #4CAF50; /* Efecto hover más claro */
    transform: translateY(-2px); /* Efecto de elevar el botón al hacer hover */
}

.main-buttons button:hover {
    background-color: #4CAF50; /* Efecto hover más claro */
    transform: translateY(-2px); /* Efecto de elevar el botón al hacer hover */
}
  @media (max-width: 767px) {
    .table-responsive {
      width: 100%;
      margin-bottom: 15px;
      overflow-y: hidden;
      -ms-overflow-style: -ms-autohiding-scrollbar;
      border: 1px solid #ddd;
    }
  }