<div class="container">
    <header>
      <!-- <div class="logo">
        <img src="logo.png" alt="prueba">
      </div> -->
    </header>
  
    <main>
      <h1 style="text-align: center;">
        Bienvenido a la sección de administración {{ datoU.nombre }}
      </h1>

      <h1 style="text-align: center;">Seleccione una opción para continuar</h1>
      <div class="main-buttons">
        <button (click)="setActive('habilitacion')">Habilitación</button>
        <button (click)="setActive('turnos')">Turnos</button>
        <button (click)="setActive('disponibilidad')">Disponibilidad</button>
        <button (click)="setActive('informes')">Informes</button>
        <button (click)="setActive('administrar')">Administrar</button>
      </div>
  
      <!-- Habilitacion -->
      <div class="table-responsive" *ngIf="activeSection === 'habilitacion'">
        <input type="text" [(ngModel)]="filtro" placeholder="Buscar médicos">
        <table class="table table-striped" id="medicosTable">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Apellido</th>
              <th>DNI</th>
              <th>Matrícula</th>
              <th>Especialidad</th>
              <th>Acción</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let medico of medicos | medicos: filtro">
              <td>{{ medico.nombre }}</td>
              <td>{{ medico.apellido }}</td>
              <td>{{ medico.dni }}</td>
              <td>{{ medico.matricula }}</td>
              <td>{{ medico.especialidad }}</td>
              <td>
                <button class="btn-success" *ngIf="medico.habilitacion == true" (click)="accion(medico)">Habilitado</button>
                <button class="btn-danger" *ngIf="medico.habilitacion == false" (click)="accion(medico)">No habilitado</button>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="main-buttons">
          <button (click)="generarPDF()">Imprimir Lista</button>
        </div>
      </div>

     <!-- Disponibilidad -->
      <form *ngIf="activeSection === 'disponibilidad'" (ngSubmit)="enviarDisponibilidad()">
        <p><strong>Médico:</strong> {{ medicoSeleccionado?.nombre }} {{ medicoSeleccionado?.apellido }}</p>
        
        <label for="desde">Hora Desde:</label>
        <input type="time" id="desde" [(ngModel)]="disponibilidad.desde" name="desde" required>

        <label for="hasta">Hora Hasta:</label>
        <input type="time" id="hasta" [(ngModel)]="disponibilidad.hasta" name="hasta" required>

        <label for="dias">Días:</label>
        <div class="dias-container">
          <button type="button" 
                  *ngFor="let dia of dias"
                  (click)="toggleDia(dia.value)"
                  [ngClass]="{'selected': disponibilidad.dias.includes(dia.value)}">
            {{ dia.nombre }}
          </button>
        </div>

        <button type="submit" id="dispo">Enviar Disponibilidad</button>
      </form>
      <!-- Placeholder para otras secciones -->
      <div *ngIf="activeSection === 'administrar'" class="admin-section">
        <h3>Administrar usuarios</h3>

        <form #adminForm="ngForm" (ngSubmit)="guardarUsuario()">
          <!-- Tipo de usuario -->
          <label for="tipoUsuario">Tipo de usuario:</label>
          <select id="tipoUsuario" name="tipoUsuario" [(ngModel)]="nuevoUsuario.tipoUsuario" required>
            <option value="">Seleccione una opción</option>
            <option value="medico">Médico</option>
            <option value="administrativo">Administrativo</option>
            <option value="tecnico">Técnico</option>
          </select>

          <hr />

          <!-- Campos básicos -->
          <div class="form-group">
            <label>Nombre:</label>
            <input type="text" name="nombre" [(ngModel)]="nuevoUsuario.nombre" required />
          </div>

          <div class="form-group">
            <label>Apellido:</label>
            <input type="text" name="apellido" [(ngModel)]="nuevoUsuario.apellido" required />
          </div>

          <div class="form-group">
            <label>Email:</label>
            <input type="email" name="email" [(ngModel)]="nuevoUsuario.email" required />
          </div>

          <div class="form-group">
            <label>DNI:</label>
            <input type="text" name="dni" [(ngModel)]="nuevoUsuario.dni" required />
          </div>

          <div class="form-group">
            <label>Teléfono:</label>
            <input type="text" name="telefono" [(ngModel)]="nuevoUsuario.telefono" required />
          </div>

          <!-- Solo para médico o técnico -->
          <div *ngIf="esMedicoOTecnico()" class="form-group">
            <label>Matrícula:</label>
            <input type="text" name="matricula" [(ngModel)]="nuevoUsuario.matricula" />
          </div>

          <div *ngIf="esMedicoOTecnico()" class="form-group">
            <label>Especialidad:</label>
            <input type="text" name="especialidad" [(ngModel)]="nuevoUsuario.especialidad" />
          </div>

          <div class="form-group">
            <label>Contraseña:</label>
            <input type="text" name="telefono" [(ngModel)]="nuevoUsuario.contrasenia" required />
          </div>

          <button class="botonGuardar" type="submit">Guardar</button>
        </form>
      </div>


      <div *ngIf="activeSection === 'turnos'">
        <h3>Sección Turnos (a implementar)</h3>
      </div>

      <div *ngIf="activeSection === 'informes'">
        <h3>Sección Informes (a implementar)</h3>
      </div>

      <!--Modal para manejar la disponibilidad del medico-->
        <div class="modal" *ngIf="isModalOpen">
        <div class="modal-content">
          <h3>Buscar Médico por DNI</h3>
          <input type="text" [(ngModel)]="dniMedico" placeholder="Ingrese DNI">
          <div class="modal-actions">
            <button (click)="buscarMedico()">Buscar</button>
            <button (click)="closeModal()">Cancelar</button>
          </div>
        </div>
      </div>
    </main>
  </div>