body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    align-items: center;
}
.login-container {
    background-color: #ffffff;
    padding: 30px 50px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center center;
    width: 25%; 
    align-items: center;   
    display: flex;
    flex-direction: column;

}
h2{
    display: flex;
     justify-content: center;
     align-items: center;
     padding-bottom: 20px;
     color: #69c99c;
}
.form-container {
    justify-content: center;
    width: 100%;
    padding: 20px;
    
}
.form-container h2 {
    margin-bottom: 20px;
}
.form-container form {
    display: flex;
    flex-direction: column;
}
.form-container form input {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
}
.form-container form button[type="submit"] {
    background-color: #69c99c;
    color: white;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
}
.form-container form button[type="submit"]:hover {
    background-color: #1f774e;
}
.radio-group {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

.div-to-center{
    background-image: url('../../../assets/font-register.jpg');
    background-size: cover; /* Ajusta el tamaño de la imagen al contenedor */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ajusta la altura al tamaño de la ventana */
    padding-top: 10%; /* Espaciado superior */
    padding-bottom: 10%; /* Espaciado inferior */
}


.alert-sanatorio {
    padding: 15px;
    border-radius: 5px;
    background-color: #f8d7da; /* Fondo rojo suave */
    border: 1px solid #f5c6cb; /* Borde rojo suave */
    color: #721c24; /* Texto rojo oscuro */
    font-family: Arial, sans-serif; /* Tipografía Arial */
  }
  
  .alert-sanatorio .alert-heading {
    color: #721c24; /* Texto de encabezado rojo oscuro */
    font-weight: bold; /* Peso de la tipografía */
  }
  
  .alert-sanatorio p {
    margin-bottom: 0;
  }
