<div class="div-to-center">
    <div class="login-container" >
        <h1>Bienvenido a Clínica Salud</h1>
        <form>
            <label for="dni">DNI </label>
            <input type="text" name="dni"  [(ngModel)]="loginUsuario.dni" placeholder="Ingresa tu DNI" required>
            
            <label for="password">Contraseña</label>
            <input type="password" name="password" [(ngModel)]="loginUsuario.contra "placeholder="Ingresa tu contraseña" required>

            <div class="radio-group">
                <label>
                    <input type="radio" name="tipo_usuario" [(ngModel)]="loginUsuario.tipoUsuario" value="medico" required> Médico

                </label>
                <label>
                    <input type="radio" name="tipo_usuario" [(ngModel)]="loginUsuario.tipoUsuario" value="Paciente" required> Paciente

                </label>
            </div>
            
            <button type="submit" (click)="login()">INGRESA </button>
            
            <div class="links">
                <a >¿Olvidaste tu contraseña? </a>
                <a routerLink='/registro' >¿No tienes cuenta? Registrate</a>
            </div>
        </form>
    </div>
</div>