<div class="container">
    <header>
        <!-- <div class="logo">
            <img src="logo.png" alt="prueba">
        </div> -->
    </header>

    <main class="perfil fade-in">
        <h1 style="text-align: center;">¡Bienvenido {{ nombrePaciente }}! ¿Qué necesitás hoy?</h1>

        <div *ngIf="!mostrarMensajeExito">
            <!--- Botones principales --->
            <div class="main-buttons">
                <button id="btnNuevoTurno" (click)="mostrarEspecialidades()">Nuevo turno</button>
                <button (click)="mostrarHistorialTurnos()" [disabled]="isLoading">Turnos finalizados</button>
                <button (click)="misTurnos()" [disabled]="isLoadingAux">Turnos en progreso</button>
            </div>
        </div>

        <!--- Turno nuevo --->
        <div id="lista-especialidades" *ngIf="especialidadesVisible">
            <h2>Especialidades disponibles</h2>
            <div>
                <input type="text" [(ngModel)]="inputValue" placeholder="Buscar..." />

                <ul *ngIf="especialidades">
                    <li *ngFor="let option of especialidades | filtrarEspecialidad: inputValue"
                        (click)="handleSelect(option)">
                        {{ option }}
                    </li>
                </ul>
            </div>

            <div id="disponibilidad" *ngIf="especialidadSeleccionada">
                <h3>Disponibilidad para: {{ especialidadSeleccionada }}</h3>

                <!-- Selección de fecha -->
                <label for="date-select">Fecha disponible:</label>
                <input type="date" [(ngModel)]="selectedDate" (change)="onDateSelect()" [min]="minDate" [max]="maxDate"
                    (keydown)="disableInvalidDays($event)">

                <!-- Selección de hora -->
                <div *ngIf="selectedDate">
                    
                    <div *ngIf="hasAvailableHours; else noHours">
                        <label for="hour-buttons">Hora disponible:</label>
                        <div id="hour-buttons" class="hour-buttons-container">
                            <!-- Crear un botón por cada hora disponible -->
                            <button 
                                *ngFor="let hour of availableHours" 
                                [class.selected]="hour === selectedHour"
                                (click)="confirmarTurno(hour)">
                                {{ hour }}
                            </button>
                        </div>
                    </div>

                    <!-- Template para cuando NO hay horas -->
                    <ng-template #noHours>
                        <p class="no-hours-message">No hay horarios disponibles para esta fecha.</p>
                    </ng-template>

                </div>
            </div>
        </div>
        
        <!-- Turnos finalizados -->
        <div *ngIf="mostrarHistorial">
            <h2>Historial de Turnos Finalizados</h2>
            <div *ngIf="isHasHistory; else noHistory">
                <h5>Seleccione un turno para calificarlo</h5>
                <table class="historial-table">
                    <thead>
                        <tr>
                            <th>Fecha</th>
                            <th>Hora</th>
                            <th>Especialidad</th>
                            <th>Estado</th>
                            <th>Calificacion</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let turno of historialTurnos"
                                [ngClass]="{
                                    'estado-cancelado': turno.estado.trim().toLowerCase() === 'cancelado',
                                    'estado-activo': turno.estado.trim().toLowerCase() === 'confirmado'
                                }">
                                <td (click)="mostrarMensajeCalificacion(turno)" class="clickable">{{ turno.fecha }}</td>
                                <td (click)="mostrarMensajeCalificacion(turno)" class="clickable">{{ turno.hora }}</td>
                                <td (click)="mostrarMensajeCalificacion(turno)" class="clickable">{{ turno.especialidad }}</td>
                                <td (click)="mostrarMensajeCalificacion(turno)" class="clickable">{{ turno.estado }}</td>
                                <td (click)="mostrarMensajeCalificacion(turno)" class="clickable">{{ turno.calificacion }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!-- SIN HISTORIAL -->
            <ng-template #noHistory>
                <div class="no-history-container">
                    <div class="no-history-card">
                        <span class="no-history-icon">🗂️</span>
                        <p class="no-history-title">No tenés turnos finalizados</p>
                        <p class="no-history-subtitle">Cuando finalices alguno, aparecerán acá.</p>
                    </div>
                </div>
            </ng-template>

            <!-- HISTORIAL -->
            <div *ngIf="isHasHistory">   
                 <!-- <div class="generar-grafico" *ngIf="mostrarHistorial">
                    <button (click)="generarGraficoCalificaciones()">Ver estadísticas</button>
                </div>-->
                <div *ngIf="mensajeCalificacionVisible" class="calificacion-message">
                    <h3>Calificá este turno</h3>
                    <div class="calificacion-buttons">
                        <button *ngFor="let numero of calificaciones"
                                [class.selected]="calificacionSeleccionada === numero"
                                (click)="seleccionarCalificacion(numero)">
                            {{ numero }}
                        </button>
                    </div>
                    <div class="calificacion-action-buttons"> 
                        <button (click)="enviarCalificacion()" [disabled]="!calificacionSeleccionada">Enviar</button>
                        <button (click)="ocultarMensajeCalificacion()">Cerrar</button>
                    </div>
                </div>
                <div *ngIf="mensajeGraciasVisible" class="gracias-message"> 
                    <h3>¡Gracias por tu calificación!</h3>
                </div>
            </div>
        </div>


        <!-- Turnos en progreso -->
        <div *ngIf="turnosPropios">
            <h2>Turnos en progreso</h2>
            
            <div *ngIf="isHasTurno; else noTurno">
                <table class="historial-table">
                    <thead>
                        <tr>
                            <th>Fecha</th>
                            <th>Hora</th>
                            <th>Especialidad</th>
                            <th>Estado</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let turno of historialTurnos"
                            [ngClass]="{
                                'estado-cancelado': turno.estado.trim().toLowerCase() === 'cancelado',
                                'estado-activo': turno.estado.trim().toLowerCase() === 'confirmado'
                            }">
                            <td>{{ turno.fecha }}</td>
                            <td>{{ turno.hora }}</td>
                            <td>{{ turno.especialidad }}</td>
                            <td>{{ turno.estado }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
            <!-- NO HAY TURNOS EN PROGRESO -->
            <ng-template #noTurno>
                <div class="no-history-container">
                    <div class="no-history-card">
                        <span class="no-history-icon">⏳</span>
                        <p class="no-history-title">No tenés turnos en progreso</p>
                        <p class="no-history-subtitle">
                            Cuando tengas turnos en curso van a aparecer acá.
                        </p>
                    </div>
                </div>
            </ng-template>

        </div>


        <!-- Mensaje de éxito con animación -->
        <div class="success-message" [ngClass]="{ 'show': mostrarMensajeExito, 'hidden': !mostrarMensajeExito }">
            <h2>Turno guardado con éxito</h2>
            <button (click)="regresar()">Regresar</button>
        </div>
    </main>
</div>